vti_encoding:SR|utf8-nl
noticias/img/_0.gif:inicio.asp
javascript\:confirmar();:medicao_detalhe.asp
/img/_0.gif:selecao.asp download.asp leia_sisgovint.asp
javascript\:abrejanela('glossario.asp'):menuprincipal.asp
javascript\:this.close():glossario.asp
sinergia.css:glossario.asp inicio.asp
2200.asp:leia_sisgovint.asp
javascript\:abrejanelaissues('issues.asp?strprojeto=<%=rs("proj_id")%>&struid=<%=rs("task_uid")%>'):medicao_detalhe.asp
scripts/valida.js:relatorio_medicao_detalhe.asp relatorios_issues.asp
http\://www.pmonline.bearingpoint.com:inicio.asp
http\://www.sinergia.petrobras.com.br:menuprincipal.asp
javascript\:this.close();:issues.asp
<%=strirpara%>:erro.asp
imagens/0web_i7.jpg:0web_inc_banner.htm
imagens/be_logo.gif:0web_inc_banner.htm
javascript\:history.go(-1):leia_sisgovint.asp
