
<p>
a.buff:active 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; color:rgb(0,0,0); text-decoration: none; } 
a.buff:visited 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(0,0,0); 
	text-decoration: none; } 
a.buff:link 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(0,0,0); 
	text-decoration: none; } 
a.buff:hover 
{	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: 900;
	color: #696969;
	text-decoration: none; }
</p>
<p>&nbsp;</p>
<p>
a.buff2:active 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
  	font-weight: 800; 
	color:rgb(0,0,0); 
	text-decoration: none; } 
a.buff2:visited 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 800; 
  	color:rgb(0,0,0); 
	text-decoration: none; } 
a.buff2:link 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 800; 
	color:rgb(0,0,0); text-decoration: none; } 
a.buff2:hover 
{	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: 800;
	color: #696969;
	text-decoration: none; }
</p>
<p>&nbsp;</p>
<p>
a.ynd:active 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(0,0,0); 
	text-decoration: none; } 
a.ynd:visited 
{	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(0,0,0); 
  	text-decoration: none; } 
a.ynd:link 
{ 	font-family: Arial, Helvetica, sans-serif; 
  	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(0,0,0); 
	text-decoration: none; } 
a.ynd:hover 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(0,0,20); 
	text-decoration: none; }
</p>
<p>
a.lik:active 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(255,153,0); 
	text-decoration: none; } 
a.lik:visited 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(255,153,0); 
  	text-decoration: none; } 
a.lik:link 
{ 	font-family: Arial, Helvetica, sans-serif; 
  	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(255,153,0); 
	text-decoration: none; } 
a.lik:hover 
{ 	font-family: Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 900; 
	color:rgb(255,102,0); 
	text-decoration: underline; }
</p>
<p>&nbsp;</p>
<p>
a.menul:active 
{ 	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 800; 
	color:rgb(255,153,0); 
	text-decoration: none; } 
a.menul:visited 
{ 	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 800; 
	color:rgb(255,153,0); 
	text-decoration: none; } 
a.menul:link 
{ 	font-family: Verdana,Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 800; 
	color:rgb(255,153,0); 
  	text-decoration: none; } 
a.menul:hover 
{ 	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 7pt; 
	font-weight: 800; 
	color:rgb(255,204,153); 
	text-decoration: none; }
</p>
